html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 50px;
  height: 100%;
  padding-bottom: 80px;
}



.moreInfo {
  display: none;
}

.inlineBox {
  white-space:nowrap;
  background-color: white;
  padding:2px;
}

.pointer:hover {
  cursor: pointer;
}

.row {
  margin: 0px 0px 5px 0px;
  color: white;
}
.rowentry {
  background-color: #558C89;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.rowentry:nth-child(odd){
  background-color: #74AFAD;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #BABABB;
}
.smm {
  background-color: #D9853B;
}

.smm:hover {
 background-color: #D9855B; 
}

.tagbutton:hover {
  text-decoration: line-through;
}
.center {
 float: none;
 margin-left: auto;
 margin-right: auto;
}
.navbar{
  background-color:#ECECEA;
  margin: 0px;
  border: 0px;
}

.navbar-right {
  margin-right: 20px;
}

.h1{
  padding: 0px;
  color: black;
}
.footer {
  position: absolute;
  padding: 10px;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #ECECEA;
}
.container{
  padding:10px;
}

.tagsearch {
  background-color: grey;
    border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
}

.showingall {
  margin-top: 5px;
  margin-bottom: 5px;
}
.tagsearchentry {
  overflow: scroll;
  margin-top:5px;
}

#speakerTags {
  height: 27px;
  overflow: scroll;
}

.tagsearchentry button {
  margin-top: 5px;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

svg g {
  margin: auto;
}

  .black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100000;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
  }
  .white_content {
    display: none;
    color: black;
    position: absolute;
    top: 70px;
    left: 10%;
    width: 80%;
/*    height: 80%;
*/    padding: 20px 20px;
    border-radius: 20px;
    background-color: white;
    z-index: 100001;
    overflow: auto;
  }

.barchart {
  height: 650px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
