<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="js/ssc.js"></script>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <nav class="navbar navbar-default">
   <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Super Seminar Scraper</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="map.html">Map</a></li>
          <li><a href="trending.html">Trending &amp Analysis</a></li> 
          <li><a href="about.html">About</a></li> 
        </ul>
      </div>
    </div>
  </nav>

<div ng-app="myapp" ng-controller="customersCtrl" ng-init="init()"> 
  <div class="tagsearch center container">
    <div ng-repeat="x in names">
      <div ng-init="initAllTags(x.Tags)">
      </div>
    </div>

    <input type="text" ng-model="searchWord" ng-change="updateTags()" class="tagsearchentry form-control" placeholder="Search Tags or Speakers Here!">
    
    <div class="tagsearchentry">
      <span ng-show="containSearchWord(z, searchWord)" ng-repeat="z in alltags">
        <button class="btn btn-primary btn-xs" ng-click="addfilter(z)">
          {{ z }}
        </button>
      </span>
    </div>

  </div>

  <div class=" center container">
    <h1 ng-show="showallentries" class="showingall">Showing all Seminars</h1>
    <button ng-show="!showallentries" class="btn btn-danger" ng-click="showall()">Show All Seminars</button>
    <span ng-repeat="tag in filterstring">
      <button class="tagbutton btn btn-warning" ng-click="removefilter(tag)">{{ tag }}</button> 
    </span>
  </div>


  <div class="alltalks center">
  <div ng-init="showreport=false" ng-mouseleave="showreport=false" ng-mouseenter="showreport=true" ng-show="showallentries || displayflag(x.Tags)" class="center rowentry container" ng-class="{{ x.Tags }}" ng-repeat="x in names">
    <div class ="topic row">
      {{ x.Topic }}
    </div>
    <div class="speaker row">
    {{ x.Speaker }}
    </div>
    <div class="time row">
    {{ x.Time }}
    </div>
    <div ng-show="showme" class="venue row">
    {{ x.Venue }}
    </div>
    <div ng-show="showme" class="university row">
    {{ x.University }}
    </div>
    <div ng-show="showme" class="url row">
    <a ng-href="{{ x.URL }}">{{ x.URL }}</a>
    </div>
    <div ng-show="showme" class="description row animate-hide check-element ">
    {{ x.Description }}
    </div>

    <div class="tags row">
      <span ng-repeat="y in x.Tags">
        <button class="btn btn-primary btn-xs" ng-click="addfilter(y)">
        {{ y }}
        </button>
      </span>

    </div>

    <button class="btn btn-warning"  ng-show="showme" ng-click="showme=false">Show less</button> 
    <button class="btn btn-warning"  ng-hide="showme" ng-click="showme=true">Show me more!</button> 
    <a class="btn btn-danger report" href='mailto:admin@superseminar.com?Subject=Problem about "{{x.Topic}}"' ng-show="showreport" ng-init="showreport=false">Report a Problem</a> 
    </div>
  </div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">An 2015 M.Eng Project...</p>
  </div>
</footer>


</body>
</html>