<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="js/helper.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="js/d3.layout.cloud.js"></script>
  <style>
    body {
      height: 100%;
    }

    #wordcloud svg {
      height: 400px;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    #piegraph svg {
      height: 500px;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    #barchart svg {
      height: 500px;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    .infobox {
      display: none;
      border-radius: 5px;
      padding: 5px 8px;
      background-color: rgba(255, 208, 208, 0.470588);
      margin-bottom: 5px
    }

    h5 span {
      display: block;
      font-size: 90%;
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Safari */
      transform: rotate(0deg);
    }
  </style>
</head>

<body ng-app="myVis">


<nav class="navbar navbar-default navbar-fixed-top">
    <div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Super Seminar Scraper</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="map.html">Map</a></li>
          <li class="active"><a href="trending.html">Trending &amp Analysis</a></li> 
          <li><a href="about.html">About</a></li> 
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<div ng-controller="wordcloudCtrl" id="wordcloud" class="container">
<h3>A Word Cloud For {{wcSpeaker}}</h3>
  <h5 class="pointer">Show Description <span class="glyphicon glyphicon glyphicon-menu-down"></span></h5>
  <div class="infobox">
This visualization will show a word cloud (a cloud of words with varsity font size and colors) of a particular speaker (select in the <span style="background-color: white; style:inline-block; padding:3px; border-radius:3px; border: 1px lightgrey solid; color: grey">dropdown menu</span>). The source text of the word cloud comes from all description/abstract of the speaker's seminars in <a href="./_data/alltalks.json">alltalks.json</a>. The word cloud will be generated by a library written by <a href="https://www.jasondavies.com/wordcloud">Jason Davies' Word Cloud Generator</a>. The word cloud gives a clear and intuitive perspective of a speaker's research direction and interests.  </div>
  <label for="sel2">Select a Speaker to see the His/Her Word Cloud!</label>
    <select class="form-control" name="wcSpeaker" ng-change="updateWC()" ng-model="wcSpeaker">
      <option ng-repeat="x in speakers" value="{{x.Name}}">{{x.Name}}</option>
    </select>
  <svg></svg>
</div>

<div ng-controller="pieCtrl" class="container piegraph" id="piegraph">
  <h3>A donut for Computer Science Seminars in <span ng-bind="cur_month"></span></h3>
  <h6><a href="./_data/topic_counts.json">Download the .json file</a> that generate this visualization</h6>
  <h5 class="pointer">Show Description <span class="glyphicon glyphicon glyphicon-menu-down"></span></h5>
  <div class="infobox">
The donut (pie) graph (using <a href="http://bl.ocks.org/dbuezas/9306799">dbuezas’s Pie chart labels</a>) shows the proportion of different CS research area seminars in a particular month. The user can use the <span style="background-color:lightgrey; style:inline-block; border-radius:3px; padding:3px;">prev</span> and <span style="background-color:lightgrey; style:inline-block; border-radius: 3px; padding:3px;">next</span> button to jump ahead or go back a month to see the changing trending in the CS research area.</div>
  <button ng-click="" class="next btn">prev month</button>
  <button ng-click="" class="prev btn">next month</button>
</div>

<div class="container barchart" id="barchart">
  <h3>A Bar Chart for the Numbers of Computer Science Seminars</h3>
  <h6><a href="./_data/month_total.tsv">Download the .tsv file</a> that generate this visualization</h6>
  <h5 class="pointer">Show Description <span class="glyphicon glyphicon glyphicon-menu-down"></span></h5>
  <div class="infobox">
    The bar chart (using <a href="http://bl.ocks.org/mbostock/3885304">mbostock’s Bar Chart</a>) shows the total number of CS seminars every month. The user can see the how the numbers of CS seminars changes.
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">2015 <a href="http://jiankun.lu">Jiankun Lu</a>, a M.Eng Project...</p>
  </div>
</footer>

<script src="js/vis.js"></script>

<script>
// three functions control the description boxes
$(document).ready(function(){
  $("#piegraph h5").click(function(){
      var degree = 0;
      if ($("#piegraph .infobox").css("display") == 'none') {
        degree = 180;
      }

      $("#piegraph .infobox").slideToggle("slow");

      AnimateRotate(degree, "#piegraph h5 span");
  });

  $("#wordcloud h5").click(function(){
      var degree = 0;
      if ($("#wordcloud .infobox").css("display") == 'none') {
        degree = 180;
      }

      $("#wordcloud .infobox").slideToggle("slow");
      AnimateRotate(degree, "#wordcloud h5 span");
  });

  $("#barchart h5").click(function(){
      var degree = 0;
      if ($("#barchart .infobox").css("display") == 'none') {
        degree = 180;
      }

      $("#barchart .infobox").slideToggle("slow");
      AnimateRotate(degree, "#barchart h5 span");
  });
});

</script>

</body>
</html>