<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul>
    <li{% if page.conf == "index" %} class="pure-menu-selected"{% endif %}>
      <a href="index.html">Index</a>
    </li>
    <li{% if page.conf == "upcoming" %} class="pure-menu-selected"{% endif %}>
      <a href="upcoming.html">Upcoming</a>
    </li>
    <li{% if page.conf == "siam-la" %} class="pure-menu-selected"{% endif %}>
      <a href="siamla.html">SIAM LA</a>
    </li>
    <li{% if page.conf == "business" %} class="pure-menu-selected"{% endif %}>
      <a href="business.html">Business</a>
    </li>
    <li{% if page.conf == "issnla" %} class="pure-menu-selected"{% endif %}>
      <a href="summer.html">Summer schools</a>
    </li>
  </ul>
</div>
