---
layout: default
---

{% include confmenu.html %}

<div class="content-subhead">
{% if page.talk-url %}<h3><a href="{{ page.talk-url }}">{{ page.title }}</a></h3>{% else %}<h3>{{ page.title }}</h3>{% endif %}
<p>
  {% if page.speaker-url %}<a href="{{ page.speaker-url }}">{{ page.speaker }}</a>{% else %}{{ page.speaker }}
  {% endif %}
  ({{ page.affil }})<br/>
  {% if page.series %}{{ site.data.series_names[page.series] }},{% endif %}
  {{ page.date | date_to_string }}
</p>
</div>

{{ page.content | markdownify }}
